<!-- 
 1. Create a custom pipe for implementing pagination on a list, allowing users to view a specific page of data.
 2. Integrate given get API and display employee data in table.
 3. Create pagination with below fields
 
 -current page drop down- options(5,10,15,20)
 -And paginate data with custom pipe by passing - currentPage and itemsPerPage data
 - Also create a custom pipe to display salary in below format  
    -Ex. 150000-> 150k, 999->999-->

<!-- https://dummy.restapiexample.com/api/v1/employees -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
