table {
  font-size: 1.4rem;
  color: #252;
  font-weight: bold;
}

th,
td {
  padding: 10px 20px;

  text-align: center;
  border: 0.2rem dashed rgb(116, 11, 102);
}

.btn:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 16px 16px rgba(153, 153, 153, 0.1);
}
.label {
  color: #555;
  font-size: 1.4rem;
}
.btn-primary,
.btn-success {
  padding: 0.8rem 2rem;
}
select {
  padding: 0.7rem 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: 1px solid #555;
  color: #fff;
  background-color: #555;
}
th {
  color: rebeccapurple;
  font-size: 1.6rem;
}
