<!-- 
 1. Create a custom pipe for implementing pagination on a list, allowing users to view a specific page of data.
 2. Integrate given get API and display employee data in table.
 3. Create pagination with below fields
 
 -current page drop down- options(5,10,15,20)
 -And paginate data with custom pipe by passing - currentPage and itemsPerPage data
 - Also create a custom pipe to display salary in below format  
    -Ex. 150000-> 150k, 999->999-->

<!-- https://dummy.restapiexample.com/api/v1/employees -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table" style="margin-top: 3rem">
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee Salary</th>
          <th>Employee Age</th>
        </tr>
        <tr
          *ngFor="let item of result | pagination : currentPage : itemsPerPage"
        >
          <td>{{ item.id }}</td>
          <td>{{ item.employee_name }}</td>
          <td>{{ item.employee_salary | salary }}</td>
          <td>{{ item.employee_age }}</td>
        </tr>
      </table>

      <div style="display: flex; justify-content: space-around">
        <button
          class="btn btn-primary"
          style="display: inline-block"
          (click)="onPrevious()"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>

        <div class="help-block" style="display: inline-block">
          Page {{ currentPage }} / {{ noOfPages }}
        </div>

        <button
          class="btn btn-success"
          style="display: inline-block"
          (click)="onNext()"
          [disabled]="currentPage === noOfPages"
        >
          Next
        </button>
      </div>

      <hr />
      <div
        style="
          display: flex;
          justify-content: end;
          gap: 1.2rem;
          align-items: center;
        "
      >
        <label class="label">Select number of items per page: </label>

        <select (change)="onChange($event)" [(ngModel)]="itemsPerPage">
          <option *ngFor="let items of itemsPerPageOptions" [value]="items">
            {{ items }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
